@use "../../../styles/variables" as *;

.footer {
    width: 100%;
    padding: $footer-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: $dynamic-footer-bg;
    color: $footer-text;
    font-family: $font-primary;

    .footer-left {
        font-size: $footer-font-size;
        color: $text-soft;
    }

    .footer-right {
        display: flex;
        gap: $footer-gap;
        margin-right: 2.5rem;

        a img {
            width: 2.5rem;
            height: 2.5rem;
            filter: drop-shadow(0 0 6px $accent);
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
        

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    [data-theme="light"] & {
        background: var(--header-bg);
        color: $dynamic-text;

        .footer-left {
            color: $text-muted;
        }

        .footer-right a img {
            filter: none;
        }
    }
}