@use "../../../styles/variables" as *;

.tech-carousel {
    width: 100%;
    overflow: hidden;
    background: $dynamic-bg;
    padding: 1rem 1rem !important; // remplace le padding global
    height: 80px; // ↘️ Hauteur réduite pour un rendu plus équilibré

    .carousel-track {
        display: flex;
        width: max-content;
        gap: 6rem;
        will-change: transform; // 🧠 Optimisation perf pour GSAP
    }

    .carousel-item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;

        img {
            height: 3.2rem;
            width: auto;
            filter: drop-shadow(0 0 5px $accent);
        }

        .stack-text {
            font-size: 1.5rem;
            font-family: $font-title;
            color: $dynamic-accent;
            font-weight: 600;
            letter-spacing: 0.05em;
            padding: 0 0.5rem;
        }
    }
}

section.tech-carousel {
    margin-top: 0 !important; }